.extendable_options {
    overflow: hidden;

    height: 0;
}

fieldset.group {
    padding-left: 20px;

    border-left: 1px solid #333;
}

.postbox h3.hndle {
    font-size: 15px;

    padding: 7px;
}

.postbox .row {
    display: inline-block;

    width: 100%;
    padding: 5px 0;
}

.postbox .row .field {
    display: inline-block;

    width: 100%;
    padding: 5px 0;
}

.postbox .row .group {
    margin-left: 5px;
    padding-left: 15px;

    border: 1px solid rgba(203, 203, 203, .2);
    background-color: rgba(203, 203, 203, .2);
}

.postbox .uninstall_area {
    margin-top: 15px;
}

.cmb2-id-cgda-customizer-notice-text .CodeMirror {
    max-height: 75px;
}

.cmb2-id-cgda-frontend-custom-html .CodeMirror {
    max-height: 150px;
}

#cgda_setup_page .cmb2-id-cgda-frontend-custom-button-instructions {
    margin-top: 0;
}

#cgda_setup_page .cmb2-id-cgda-frontend-custom-button-instructions .cmb2-metabox-description {
    color: #23282d;
}

#cgda_setup_page .cmb2-metabox-description {
    color: #959595;
}